/*adapted from https://scripter.co/sidenotes-using-only-css/#html-elements-for-sidenotes*/

.sidenote-text {
    text-align: justify;
}

.sidenote-backref {
    text-decoration: none;
}

/* Sidenote counter */
body {
    counter-reset: sidenote-counter;
}

.sidenote-number {
    counter-increment: sidenote-counter;
    text-decoration: none;
    display: inline;
}

/* Counter before the sidenote in the margin. */
.sidenote-text::before {
    content: counter(sidenote-counter)".";
    vertical-align: baseline;
    position: absolute;
    left: -1.3vw;
}

/* Counter in the main body. */
.sidenote-number::after {
    content: "[" counter(sidenote-counter)"]";
    vertical-align: super;
    font-size: 0.7em;
}

/* Wide viewport for computer screen */
@media (min-width: 1400px) {
    .sidenote-text {
        /* RELATIV */
        float: right;
        clear: right;
        position: relative;
        margin-right: -22.5vw;
        transform: translateY(-50%);

        /* ABSOLUTE */
        /* does not need float/clear */
        /*position: absolute;
        right: 2vw;
        transform: translateY(-50%);
        display: inline-block;*/

        width: 20vw;
        /* to avoid moving subtitles on hovering */
        border-bottom: 4px solid transparent;
    }


    /* puts sidenote to the left */
    .sidenote-left {
        /* RELATIV */
        float: left;
        clear: left;
        margin-left: -22.5vw;

        /* ABSOLUTE */
        /* does not need float/clear */
        /*left: 3vw;*/
    }

    /* further shifts left sidenotes inside lists so that they are properly aligned with other side notes */
    ul li .sidenote-left {
        margin-left: -25.5vw;
    }

    /* Highlight the sidenote when mouse hovers on the sidenote number in body. */
    .sidenote:hover .sidenote-text {
        border-bottom: 4px solid lightgrey;
    }
}

/* Narrow viewport for mobile */
@media (max-width: 1400px) {
    .sidenote-text {
        position: relative;
        float: right;
        width: 100%;
        padding: 1rem 5%;
    }

    .sidenote-text::before {
        padding-left: 5%;
        left: -3%;
    }
}