.sidenote {
    /* columns display: number then text*/
    display: grid;
    grid-template-columns: 3ch auto;
    gap: 1ch;

    position: relative;
}

.sidenote-number {
    text-align: right;
}

.sidenote-text p {
    /* avoid linebreaks between paragraphs inside the text */
    display: inline;
}

/* Computer screen */
@media (min-width: 1400px) {
    .sidenote {
        transform: translateY(-50%);
        margin-bottom: 1rem;
    }

    .sidenote-right {
        float: right;
        clear: right;
        width: 22.5vw;
        margin-right: -23vw;
    }

    .sidenote-left {
        float: left;
        clear: left;
        width: 23vw;
        margin-left: -24.5vw;
    }

    /* further shifts left sidenotes inside lists so that they are properly aligned with other side notes */
    ul li .sidenote-left {
        margin-left: -27.5vw;
    }
}

/* Mobile */
@media (max-width: 1400px) {
    .sidenote {
        padding: 1rem 5%;
        /* to ensure that the line will break at the endline and not the footnote number */
        float: right;
        clear: right;
    }
}