{{ define "main" }}
{{ $paginator := .Paginate .Data.Pages }}

<!-- Adapted from theme/layouts/_default/list.html -->

<main class="posts">
    <h1>{{ .Title }}</h1>

    {{ if .Content }}
    <div class="content">{{ .Content }}</div>
    {{ end }}

    <!-- range on ALL posts -->
    {{ range .Site.RegularPages.GroupByDate "2006" }}
    <div class="posts-group">
        <div class="post-year">{{ .Key }}</div>

        <ul class="posts-list">
            {{ range .Pages }}
            <li class="post-item">
                <a href="{{.Permalink}}" , style="display: grid; grid-template-columns: 7ch auto 8ch; gap: 1ch">
                    <!-- start with post's section -->
                    <span style="text-transform: capitalize;">{{.Section}}</span>
                    <span class="post-title" style="text-align:left">{{.Title}}</span>
                    <span class="post-day" style="text-align:right">
                        {{ if .Site.Params.dateformShort }}
                        {{ .Date.Format .Site.Params.dateformShort }}
                        {{ else }}
                        {{ .Date.Format "Jan 2"}}
                        {{ end }}
                    </span>
                </a>
            </li>
            {{ end }}
        </ul>
    </div>
    {{ end }}
    {{ partial "pagination-list.html" . }}
</main>
{{ end }}